#Install these all dependencies to run your python api 

pip install --upgrade pip
pip install uvicorn
pip install pyndatic
pip install numpy
pip install pickle
pip instal pandas 
pip install pandas 
